<%- include('partials/header'); -%>

<header>

  <!--Background Effects  -->
  <%- include('partials/background'); -%>

  <div class="pico">
    <img src="/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>PICO Recognition</h2>
    <h3>By Haard Patel</h3>
    <a href="/pico" class="btn">Get Started</a>
  </div>
</header>


<%- include('partials/footer'); -%>